 :root {
    --primary-color: #66C351;
    --secondary-color: #3A4038;
    --primary-color-dark: #649859;
    --secondary-color-light: #576E52;
    --background-color: #fff;

 }

 * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
 }

 /* 
 header styles
 */
 header {
    background-color: var(--primary-color);
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    justify-content: space-between;
    z-index:100;
 }

 .nav__items {
    display: flex;
    list-style: none;
    gap: 15px;
 }

 .nav__item>a {
    text-decoration: none;
 }

 /* main styles */

 main {
    margin-top: 50px;
    background-color: var(--background-color);
 }

 main>section {

    border: 1px solid black;
 }

 /* 
 category styles
 */
 .category-selection {
    position: relative;
 }

 .category-selection summary::marker {
    content: none;
 }

 .category-selection__list {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--primary-color-dark);
 }

 /*
 ------------- Product card styles
 */
 .product-card {
    width: 150px;
    background-color: rgb(219, 250, 95);
    border: 1px solid black;
    display: inline-block;
    border-radius: 15px;
 }

 .product-data {
    padding: 0.5rem;
 }

 .product-card>a {
    text-decoration: none;
    color: black;
 }

 .product-image {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 15px 15px 0 0;
 }

 /*
 --------- Profile styles 
 */

 .profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
 }

 

 


 /* 
 new product styles
 */

 .new-product {
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 1px solid var(--secondary-color);
    background-color: var(--primary-color);
    padding: 1rem;
    margin: auto;
 }
 .new-product__input {
      display: flex;
      flex-direction: column;
      transition: transform 0.3s ease;
      &:hover {
         transform: scale(1.1);
      }
}
/* 
product info styles
*/
.product-show {
   display:flex;
   flex-direction: column;
}
@media (min-width:768px){

   .product-show .product-image{
      grid-area: image;
   }
   .product-show .product-data{
      grid-area: data;
   }
   .product-show .contact-info{
      grid-area: contact;
   }
   .product-show{
      display:grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: 
      "image contact"
      "data data"
      ;
   }
}

/* 
animations */
@keyframes vibracion {
   0%{
      transform: translateY(0);
   }
   25% {
      transform:translateY(50px);
   }
   50%{
      transform: translateY(0);
   }
   75% {
      transform:translateY(-50px);
   }
   100%{
      transform: translateY(0);
   }
}
h1{
   position: relative;
   animation: vibracion 3s ease 0s infinite normal;
}


   


/* media queries */
@media (min-width:768px){
   .new-product__input {
      flex-direction:row;
   }

   .new-product__input > *:first-child{
     width: 30%;
   }
    .new-product__input > *:last-child{
     width: 70%;
   }

}

